.fadeIn {
  animation-name: fadeInFromNothing;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  -moz-animation-name: fadeInFromNothing;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;

  -webkit-animation-name: fadeInFromNothing;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  -o-animation-name: fadeInFromNothing;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease-out;
  -o-animation-fill-mode: forwards;

  visibility: hidden;
  
  &.speed-1 {
  	animation-delay: 0.1s;
  	-moz-animation-delay: 0.1s;
  	-webkit-animation-delay: 0.1s;
  	-o-animation-delay: 0.1s;
  }
  &.speed-2 {
  	animation-delay: 0.3s;
  	-moz-animation-delay: 0.3s;
  	-webkit-animation-delay: 0.3s;
  	-o-animation-delay: 0.3s;
  }
  &.speed-3 {
  	animation-delay: 0.6s;
  	-moz-animation-delay: 0.6s;
  	-webkit-animation-delay: 0.6s;
  	-o-animation-delay: 0.6s;
  }

  &.speed-4 {
  	animation-delay: 0.9s;
  	-moz-animation-delay: 0.9s;
  	-webkit-animation-delay: 0.9s;
  	-o-animation-delay: 0.9s;
  }

   &.speed-5 {
  	animation-delay: 1.2s;
  	-moz-animation-delay: 1.2s;
  	-webkit-animation-delay: 1.2s;
  	-o-animation-delay: 1.2s;
  }

   &.speed-6 {
  	animation-delay: 1.5s;
  	-moz-animation-delay: 1.5s;
  	-webkit-animation-delay: 1.5s;
  	-o-animation-delay: 1.5s;
  }
}
	
@keyframes fadeInFromNothing {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
@-webkit-keyframes fadeInFromNothing {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNothing {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNothing {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}