/* Fonts */
@font-face {
    font-family: 'Handlee';
    src: url('/fonts/Handlee-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}
/* End of Fonts */

/* All pages */
	body {
		background-color: #eee;
		font-family: "Montserrat",sans-serif;
	}
	.content-container {
		padding-left: 23em;
		.content {
			padding-left: 2em;
		}
	}
/* End of all pages */

/* Nav */
	#admin-header {
		background-color: #FFF;
		padding: 1em 0em;
		#sign-out {
			margin-top: 1.4em;
			.item {
				display: inline-block;
			}
		}
		#title-container {
			padding-top: 0.4em;
			.logo {
				width: 4em;
			}
			.logo,
			.main-title {
				display: inline-block;
				float: left;
				margin: 0;
				padding-left: 0.2em;
			}
		}
	}
/* End of Nav */

/* Loading gif */
	.loading {
		text-align: center;
		p {
			font-weight: bold;
    		margin-bottom: 0.8em;
		}
	}
/* End of loading gif */

/* Card */
	.card {
		margin: 1em;
		.card-body {
			.card-title {
				margin-bottom: 1.5em;
			}
		}
	}
/* End of card */

/* Toast */
	.toast {
		&.success {
			.toast-header {
				background-color: #71cc97;
    			color: #FFF;
			}
		}
		&.error {
			.toast-header {
				background-color: #cc7171;
				color: #FFF;
			}
		}
	}
/* End of toast */

/* Useful classes */
	.full-width {
		width: 100%;
	}
	.hidden {
		display: none;
	}
	.right {
		float: right;
	}
	.main-title {
		color: #748c73;
	    font-size: 2em;
	    line-height: 50px;
	    font-family: "Handlee",cursive;
        text-transform: capitalize;
	}
	.confirm-element {
		background-color: #ccc;
	    font-size: 0.9em;
	    padding: 0em 0.2em;
	    border-radius: 0.2em;
	    font-weight: bold;
	}
	.hide-checkbox {
		input[type=checkbox] {
			display: none;
		}
		label {
			&:before {
				display: none;
			}
		}
	}
	.selected-icon {
		opacity: 1;
	}
	.unselected-icon {
		opacity: 0.5;
	}
/* End of useful classes */

/* Extra options dropdown */
	.extra-options {
		a {
			&:hover {
				cursor: pointer;
			}
		}
	}
/* End of extra options dropdown */

/* Sidebar modifications */
	.v-sidebar-menu {
		padding-bottom: 0 !important;
		.collapse-btn {
			display: none !important;
		}
	}
/* End of sidebar modifcations */

/* Dropdown */
	.dropdown {
		.dropdown-title {
			background-color: #CCC;
    		font-size: 0.8em;
    		color: #545b62;
		}
		&.guest-dropdown {
			.dropdown-menu {
				padding: 0;
			}
		}
	}
/* End of dropdown */

/* Breadcrumbs */
	.breadcrumb {
		background: none;
    	padding: 0;
    	padding-bottom: 1em;
	}
/* End of Breadcrumbs */