/* Fonts */
@font-face {
    font-family: 'Handlee';
    src: url('/fonts/Handlee-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}
/* End of Fonts */

/* All pages */
	html,
	body {
		height: 100%;
	}
	body {
		background-color: #dceaf3;
		font-family: "Montserrat",sans-serif;
	}
	#app {
		height: 100%;
	}
	.content-container {
		padding-left: 23em;
		.content {
			padding-left: 2em;
		}
	}
	.no-padding {
		padding: 0;
	}
	.no-margin {
		margin: 0 !important;
	}
/* End of all pages */

/* Nav */
	#admin-header {
		background-color: #FFF;
		padding: 1em 0em;
		#sign-out {
			margin-top: 1.4em;
			.item {
				display: inline-block;
				color: #bf746a;
			}
		}
		#title-container {
			padding-top: 0.4em;
			.logo {
				width: 4em;
				margin-left: 1em;
    			margin-right: 0.5em;
			}
			.main-title {
				margin: 0;
			}
			.logo,
			.main-title {
				display: inline-block;
				float: left;
				padding-left: 0.2em;
			}
		}
	}
/* End of Nav */

/* Loading gif */
	.loading {
		text-align: center;
		p {
			font-weight: bold;
    		margin-bottom: 0.8em;
		}
	}
/* End of loading gif */

/* Card */
	.card {
		margin: 1em;
		border: 1px solid #ffdfdb;
		background-color: initial;
		border: none;
		.card-title {
			margin-bottom: 0em;
			background-color: #0068a7;
		    color: #fffefe;
		    padding: 0.8em 1em;
		    .btn {
		    	padding: 0.2em 0.5em;
		    }
		}
		.card-header {
			background-color: #e0f2ff;
    		border-bottom: 1px solid #0067a7;
    		color: #0067a7;
		}
		.card-body {
			background-color: #FFF;
			border: 1px solid #a5cfe8;
		}
		&.custom {
			.card-header {
				font-size: 1.5em;
			}
		}
	}
/* End of card */

/* Toast */
	.toast {
		&.success {
			.toast-header {
				background-color: #71cc97;
    			color: #FFF;
			}
		}
		&.error {
			.toast-header {
				background-color: #cc7171;
				color: #FFF;
			}
		}
	}
/* End of toast */

/* Useful classes */
	.full-width {
		width: 100%;
	}
	.full-height {
		height: 100%;
	}
	.hidden {
		display: none;
	}
	.right {
		float: right;
	}
	.main-title {
		color: #db928a;
	    font-size: 2em;
	    line-height: 2em;
	    font-family: "Handlee",cursive;
        text-transform: capitalize;
	}
	.confirm-element {
		background-color: #ccc;
	    font-size: 0.9em;
	    padding: 0em 0.2em;
	    border-radius: 0.2em;
	    font-weight: bold;
	}
	.hide-checkbox {
		input[type=checkbox] {
			display: none;
		}
		label {
			&:before {
				display: none;
			}
		}
	}
	.selected-icon {
		opacity: 1;
	}
	.unselected-icon {
		opacity: 0.5;
	}
/* End of useful classes */

/* Extra options dropdown */
	.extra-options {
		a {
			&:hover {
				cursor: pointer;
			}
		}
	}
/* End of extra options dropdown */

/* Sidebar modifications */
	.admin-container {
		.v-sidebar-menu {
			background-color: #003452;
			padding-bottom: 0 !important;
			.collapse-btn {
				display: none !important;
			}
			.vsm-list {
				.vsm-item {
					cursor: pointer;
					.vsm-link {
						.vsm-icon {
							background-color: #07507b;
						}
						&.router-link-active {
							-webkit-box-shadow: 3px 0px 0px 0px #025588 inset;
    						box-shadow: 3px 0px 0px 0px #025588 inset;
							.vsm-icon {
								background-color: #0d6ca2;
							}
						}
						&:hover {
							background-color: rgb(3, 67, 105);
						}
					}
				}
			}
		}
	}
/* End of sidebar modifcations */

/* Dropdown */
	.dropdown {
		.dropdown-title {
			background-color: #5398ca;
		    font-size: 1em;
		    color: #ffffff;
		}
		.dropdown-menu {
			padding: 0;
			.dropdown-item {
				padding: 0.6rem 1rem;
				color: #777777;
				&:hover {
					background-color: #e4f5ff;
				}
			}
		}
	}
/* End of dropdown */

/* Breadcrumbs */
	.breadcrumb {
		background: none;
    	padding: 0;
    	margin: 1em;
	    background-color: #a7d7f5;
    	border: 1px solid #52bdff;
	    color: #FFF;
	    padding: 1em;
	    .breadcrumb-item {
	    	a {
	    		color: #0067a7;
	    	}
	    	&.active {
	    		span {
	    			color: #03253a;
	    			text-decoration: underline;
	    		}
	    	}
	    }
	}
/* End of Breadcrumbs */

/* Badges */
	.badge {
		&.badge-success {
			color: #badef5;
    		background-color: #065b8e;
		}
		&.badge-warning {
			color: #6aa8ce;
    		background-color: #e0f2ff;
		}
		&.badge-secondary {
			background-color: #ecf1f5;
			color: #989898;
		}
	}
/* End of Badges */

/* Setup Invite */
	#createInvite {
		.plus-ones {
			.row {
				margin-bottom: 1em;
			}
		}
	}
/* End of Setup Invite */

/* View Person */
	.person-view {
		.person-image {
			text-align: center;
			img {
				border: 2px solid #2a2a30;
    			border-top-left-radius: 0.5em;
    			border-top-right-radius: 0.5em;
			}
			.upload-btn {
				background-color: #2a2a2f;
			    color: #eeeeee;
			    padding: 1em;
			    &:hover {
			    	opacity: 0.8;
			    	cursor: pointer;
			    }
			}
		}
	}
/* End of View Person */

/* Login */
	.login-app {
		height: 100%;
		.left-section {
			background-color: #FFF;
    		padding: 3em;
			padding-top: 8em;
			.logo {
				width: 5em;
				margin: 0 auto;
				display: block;
			}
			.remember-me {
  				margin-top: 1.8em;
  			}
  			.form-control {
  				height: 3em;
    			font-size: 1.2em;
  			}
		}
		.right-section {
			background-image: url('/images/web/login/bg.jpg');
			background-repeat: no-repeat;
  			background-size: cover;
  			position: relative;
  			.cover {
  				position: absolute;
  				top: 0;
  				bottom: 0;
  				left: 0;
  				right: 0;
  				background-color: #db928a;
  				opacity: 0.3;
  			}
		}
		h2 {
			font-size: 1.8em;
		    margin-top: 0.8em;
		    margin-bottom: 0.5em;
		    color: #db928a;
		    text-align: center;
		}
		button {
			background-color: #db928a;
			border-color: #a95b51;
			&:hover {
				background-color: #e2a9a3;
				border-color: #c7857e;
			}
			&:focus,
			&:active {
				color: #fff;
			    background-color: #c36c63 !important;
			    border-color: #a9564e !important;
			    -webkit-box-shadow: 0 0 0 0.2rem rgb(247, 205, 201);
			    box-shadow: 0 0 0 0.2rem rgb(247, 205, 201);
			}
		}
		#reset-password {
			.left-section {
				padding-top: 15em;
			}
			.right-section {
				background-image: url('/images/web/login/bg2.jpg');
			}
		}
		#reset-password-confirm {
			.right-section {
				background-image: url('/images/web/login/bg3.jpg');
			}
		}
	}
/* End of Login */

/* Buttons */
.btn-primary {
	background-color: #035d9a;
    border-color: #023f69;
    &:hover,
    &:active,
    &:focus {
    	background-color: #034571 !important;
    	border-color: #022740 !important;
    	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
		-webkit-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
    }
}
.btn-success {
	color: #fff;
    background-color: #075b8e;
    border-color: #0a3c5a;
    &:hover,
    &:active,
    &:focus {
    	background-color: #033f63 !important;
    	border-color: #033f63 !important;
    	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
		-webkit-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
    }
}
.btn-secondary {
	background-color: #9fd7fd;
    border-color: #6fc4f7;
    color: #338dca;
    &.dropdown-toggle {
    	background-color: #065b8e !important;
    	color: #FFF;
    	&:hover,
	    &:focus,
	    &:active {
	    	background-color: #014167 !important;
	    	border-color: #014167 !important;
	    	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
			-webkit-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
	    }
    }
    &:not(.disabled) {
	    &:hover {
	    	background-color: #3cabe8;
	    	border-color: #308eec;
	    }
	}
}
.btn-outline-primary {
	color: #0067a7;
    border-color: #0067a7;
	&:hover,
	&:active {
		// background-color: initial !important;
		// text-decoration: underline !important;
		// border-color: initial !important;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07);
		-webkit-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07);
	}
}
/* End of Buttons */

/* Alerts */
.alert {
	&.alert-secondary {
		color: #54beff;
   	 	background-color: #d6f0ff;
    	border-color: #8fd4ff;
	}
}
/* End of Alerts */

/* Pagination */
	.pagination {
		.page-item {
			&.active {
				.page-link {
					background-color: #0b84ce;
    				border-color: #054d7b;
    				color: #FFF;
				}
			}
			.page-link {
				color: #0b84ce;
				button {
					box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
					-webkit-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.07) !important;
				}
			}
		}
	}
/* End of Pagination */

/* Modal */
	.modal {
		.modal-header {
			background-color: #00548c;
    		color: #FFF;
		}
	}
/* End of Modal */