.under_construction {
	display: block;
	.left-section {
		background-color: blue;
		.couple-image {
			background-image: url('/images/web/under_construction/bg.jpg');
			background-repeat: no-repeat;
  			background-size: cover;
  			height: 50em;
		}
	}
	.right-section {
		background-color: red;
	}
}